.resume-container {
    height: max-content;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
    font-family: "Tektur", cursive;
}

.resume-header {
    display: flex;
    flex-direction: row;
    padding: 0 20%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.resume-about-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-about-picture img {
    width: 600px;
    height: 600px;
}

.resume-about-content {
    color: var(--primary-color);
    text-align: justify;
    padding: 10% 0%;
}

.resume-about-content h1 {
    font-size: 5rem;
}

.resume-about-content h2 {
    font-size: 2rem;
}

.resume-about-content p {
    font-size: 1.5rem;
}

.resume-about-content p span {
    font-weight: bold;
}

.resume-about-content p span a {
    color: var(--primary-color);
    text-decoration: none;
}

.resume-link-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resume-link-button a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.5rem;
    background-color: var(--secondary-color);
    padding: 10px 22px;
    border-radius: 10cm;
}

.resume-link-button a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.resume-content h1 {
    margin: 150px 0;
}

.resume-content h1 span {
    color: var(--secondary-color);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.resume-body {
    width: 100%;
    padding: 0 0%;
}

.rise-up {
    opacity: 1;
    transform: translateY(0);
}

.resume-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}

.resume-question h1 {
    font-size: 2rem;
}

.resume-question p {
    font-size: 1.2rem;
}

.resume-question p a {
    color: var(--primary-color);
}
