.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    font-family: "Tektur", cursive;
    z-index: 200;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav a {
    margin: 10px;
    font-size: 12pt;
    text-decoration: none;
    color: var(--tertiary-color);
}

.header-nav a:hover {
    color: var(--secondary-color);
}