.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav a {
    margin: 10px;
    font-size: 15pt;
    text-decoration: none;
    color: var(--tertiary-color);
}

.header-nav a:hover {
    color: var(--secondary-color);
}

.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-search-input {
    height: 30px;
    width: 250px;
    font-size: 15pt;
    margin-right: 10px;
    background-color: #00000000;
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    padding: 10px;
}

.header-search-input::placeholder {
    color: var(--secondary-color);
}

.header-search-input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
}


.header-search-button {
    background-color: #00000000;
    border: none;
}

.header-search-button img {
    width: 30px;
    height: auto;
}