.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #f5f5f5;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav a {
    margin: 10px;
    font-size: 15pt;
    text-decoration: none;
    color: #f5f5f5;
}

.header-nav a:hover {
    color: #ffd700;
}

.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-search-input {
    height: 30px;
    width: 250px;
    font-size: 15pt;
    margin-right: 10px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
}

.header-search-input::placeholder {
    color: #fff;
}

.header-search-input:focus {
    outline: none;
    border: 1px solid #ffd700;
}


.header-search-button {
    background-color: #f5f5f500;
    border: none;
}

.header-search-button img {
    width: 30px;
    height: auto;
}