.home-container {
    font-family: "Tektur", sans-serif;
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    position: relative;
    overflow: hidden;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-color: var(--secondary-color);
    margin: 0 15%;
    z-index: 100;
}


.title-container h1 {
    font-size: 5rem;
    font-weight: 700;
}

.title-container span {
    font-size: 7rem;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    z-index: 100;
    background-color: var(--secondary-color);
}

.content-container p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 0 20px;
}

.content-container a {
    background-color: var(--secondary-color);
    background-size: 200% 100%;
    transition: color 0.3s ease;
    color: var(--primary-color);
    width: 60%;
    padding: 5px 10px;
    border: 2px solid var(--primary-color);
    font-size: 1.5rem;
    align-self: center;
    transition: all 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.content-container a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    animation: slide 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    pointer-events: none;
}

.grid-cell {
    background-color: rgba(255, 215, 0, 0);
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
}

.grid-cell.active {
    border-color: rgba(255, 215, 0, 0.5);
}

@media (max-width: 450px) {
    .home-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 7%;
    }

    .title-container h1 {
        font-size: 5rem;
        font-weight: 700;
    }

    .title-container span {
        font-size: 7rem;
    }

    .content-container {
        flex-direction: column;
        margin: 0 5%;
    }

    .content-container p {
        font-size: 1.2rem;
        padding: 0 0px;
    }

    .content-container a:active {
        color: var(--secondary-color);
    }
}