.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    z-index: 200;
}

.footer-container p {
    color: var(--tertiary-color);
    font-size: 10pt;
    padding-top: 10px;
}

.footer-social-media {
    position: absolute;
    left: 0;
    display: flex;
    gap: 15px;
    padding: 0 30px;
}

.footer-social-media a {
    color: var(--tertiary-color);
    font-size: 1.2rem;
}

.footer-social-media a:hover {
    color: var(--secondary-color);
}

@media (max-width: 450px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }

    .footer-container p {
        font-size: 8pt;
        padding-top: 16px;
        padding-right: 20px;
    }

    .footer-social-media {
        padding: 10px 30px;
    }
}