.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer-container p {
    color: var(--tertiary-color);
    font-size: 10pt;
    padding-top: 10px;
}

.footer-social-media {
    position: absolute;
    left: 0;
    display: flex;
    gap: 15px;
    padding: 0 30px;
}

.footer-social-media a {
    color: var(--tertiary-color);
    font-size: 1.2rem;
}

.footer-social-media a:hover {
    color: var(--secondary-color);
}