.app-header-container {
    width: 100%;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    z-index: 100;
}

.app-body-container {
    width: 100%;
    background-color: #ffd700;
    height: 50vh;
}

.app-footer-container {
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    z-index: 100;
}